.confirm-button {
    color: white;
    background-color: #5f46f0;
    border-radius: 50px;
}

.confirm-button:hover {
    color: white;
    background-color: #4935bd;
}

.signup {
    font-size: 14px;
    color: grey;
}

#achievements {
    color: white;
    background-color: black;
}

.body {
    padding: 10px 50px;
}

.main {
    padding: 50px;
}

.lesson {
    margin: 20px 0px;
}

body {
    background-color: rgb(250, 246, 246);
}

.next {
    float: right;
    margin-right: 12px;
}

.custom-silver {
    background-color: #d5cfcf;
}

.custom-bronze {
    background-color: #c79665; 
}

.reminder-alert {
    position: relative;
    background-color: #f0f0f053;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 200px;
    font-size: 20px;
}

.reminder-count {
    position: absolute;
    top: 5px;
    right: 5px; 
    background-color: #ff6347; 
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-size: 25px;
}

.category {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.category-text {
    margin-left: 10px;
}

.number {
    /* background-color: #aaaaaa; */
    color: #fff;
    /* border-radius: 10%; */
    padding: 5px;
    font-size: 50px;
    margin-right: 5px;
    font-weight: bold;
}

#navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 5px; 
}

.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.691); 
    margin: 0 10px;
    position: relative;
}

#indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #007bff;
    transition: 0.3s; 
}

.search-container {
    width: 90%;
    height: 60px;
}

.search-container input {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 20px;
}

.calendar {
    display: flex;
    flex-direction: row;
}

.day {
    width: 14.28%; /* 100% divided by 7 days */
    text-align: center;
    padding: 10px;
}

.filter-container {
    display: flex;
    flex-direction: column;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.filter-option input {
    margin-right: 5px;
}

#filter-container {
    margin: 50px;
}
       .highlight {
    position: relative;
}

.highlight::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    border: 2px solid rgb(255, 99, 88);
    border-radius: 50%;
    top: 1;
    left: 0;
    box-sizing: border-box;
}

.module{
    border-radius: 10px;
    background-color: rgb(233, 231, 231);
    padding: 20px;
}
.progress-container {
    width: 100%;
    background-color: white;
    border-radius:20px;
    border: 1px solid black
}

.progress-bar {

    height: 20px;
    background-color: rgb(178, 244, 178); /* Green color for the progress */
    border-radius:20px;
}
.module-progress-percent{
    padding-left: 10px;
    font-size: small;
    font-style: italic;

}
.card-custom {
    overflow: hidden;
    min-height: 450px;

  }
  
  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
  }
  
.card-custom-avatar img {
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }
