@import url('https://fonts.googleapis.com/css?family=Lato:300,900');


.confirm-button {
    color: white;
    background-color: #5f46f0;
    border-radius: 50px;
}

.confirm-button:hover {
    color: white;
    background-color: #4935bd;
}

.signup {
    font-size: 14px;
    color: grey;
}

.login{
    font-size: 14px;
    color: white;
}


#achievements {
    color: white;
    background-color: black;
}



.lesson {
    margin: 20px 0px;
}

body {
    background-color: rgb(255, 255, 255);
}

.next {
    float: right;
    margin-right: 12px;
}

.custom-silver {
    background-color: #d5cfcf;
}

.custom-bronze {
    background-color: #c79665; 
}

.homepage-header{
    background: url(../images/space-bg1.jpg) fixed ;
   
}

.reminders{
    padding:30px;

}

.reminder-list{
    list-style-type:none

}

.reminder-item{
    background-color:#ffffff;
    color: black;
    border-radius:5px;
    margin-bottom:10px;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.381);
}


.category {
    display: flex;
    align-items: center;

}

.category-text {
    margin-left: 10px;
    font-size:13px;
}

.number {
    /* background-color: #aaaaaa; */
    color: #fff;
    /* border-radius: 10%; */
    padding: 5px;
    font-size: 40px;
    margin-right: 5px;
    font-weight: bold;
}

.no-courses{
    font-size:15px;
    color:#808080;
}

.courses-link:link{
    color: rgb(174, 5, 174);
}
.courses-link:hover{
    color: rgb(255, 106, 255);
}

#navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 5px; 
}

.nav-link {
    text-decoration: none;
    color: black; 
    margin: 0 10px;
    position: relative;
}

.nav-link:hover{
    color:#c03afe;
}

#indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #007bff;
    transition: 0.3s; 
}

.search-container {
    width: 90%;
    height: 60px;
}

.search-container input {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 20px;
}

.calendar {
    display: flex;
    flex-direction: row;
}

.day {
    width: 14.28%; /* 100% divided by 7 days */
    text-align: center;
    padding: 10px;
}

.filter-container {
    display: flex;
    flex-direction: column;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.filter-option input {
    margin-right: 5px;
}

#filter-container {
    margin: 50px;
}
       .highlight {
    position: relative;
}

.highlight{
    background-color: rgb(223, 223, 223);
}

.module{
    border-radius: 10px;
    background-color: rgb(233, 231, 231);
    padding: 20px;
}
.progress-container {
    width: 100%;
    background-color: white;
    border-radius:20px;
    border: 1px solid black
}

.progress-bar {

    height: 20px;
    background-color: rgb(178, 244, 178); /* Green color for the progress */
    border-radius:20px;
}
.module-progress-percent{
    padding-left: 10px;
    font-size: small;
    font-style: italic;

}
.card-custom {
    overflow: hidden;
    min-height: 450px;

  }
  
  .card-custom-img {
    height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
  }
  
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 161px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
  }
  
.card-custom-avatar img {
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 1.25rem;
    width: 100px;
    height: 100px;
  }

.points{
    color:rgb(195, 0, 195);

}
.video {
    width: 100%;
    height: 600px;
    background-color: gray;
}

.video-course-title{
    margin-top: 10px;
}
.no-spacing {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0;
    padding: 0;
    /* Add additional styling here */
}
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 10px;
    background-color: #fff;
    padding: 0 5px;
    color: #888;
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: 2px solid #007BFF;
    padding: 10px;
    background-color: transparent;
    color: #333;
}

.form-control:focus {
    outline: none;
    border-bottom: 2px solid #5BC0DE;
}

.form-control:focus + label,
.form-control:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    font-size: 0.8em;
    background-color: #fff;
}

.btn.confirm-button {
    background-color: #6eb4ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn.confirm-button:hover {
    background-color: #0056b3;
}

.main-banner {
    position: relative;
    padding: 195px 0px 185px 0px;
}
  
  .main-banner:after {
    content: url(../images/banner-right.png);
    top: -1px;
    right: 0;
    position: absolute;
    width: 861px;
    height: 746px;
    z-index: -1;
  }
  
  .main-banner::before {
    content: url(../images/banner-left.png);
    top: -1px;
    left: 0;
    position: absolute;
    width: 194px;
    height: 655px;
    z-index: -1;
  }
  .main-banner h6 {
    font-size: 20px;
    color: #5b03e4;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .main-banner .line-dec {
    margin: 30px 0px 20px 0px;
    width: 210px;
    height: 2px;
    background-color: #decdfa;
  }
  
  .main-banner h4 {
    font-size: 52px;
    color: #2a2a2a;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
  }
  
  .main-banner h4 em {
    font-style: normal;
    color: #5b03e4;
  }
  
  .main-banner h4 span {
    color: #c03afe;
  }
  
  .main-banner p {
    padding-right: 25%;
    margin-bottom: 30px;
  }

  .services {
    position: relative;
    overflow: hidden;
  }
  
  .services .section-heading h2 {
    padding-right: 30px;
  }
  
  .services::before {
    content: url(../images/services-left.jpg);
    top: 120px;
    left: 0;
    position: absolute;
    width: 844px;
    height: 714px;
    z-index: -1;
  }
  
  .services::after {
    content: url(../images/contact-left.jpg);
    bottom: -150px;
    right: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    width: 103px;
    height: 464px;
    z-index: -1;
  }
  .section {
    padding-top: 30px;
    margin-top: 90px;
  }
  
  
  .section-heading {
    margin-bottom: 30px;
  }
  
  .section-heading .line-dec {
    width: 60px;
    height: 2px;
    margin-bottom: 20px;
    background: rgb(85,0,227);
    background: linear-gradient(90deg, rgba(85,0,227,1) 0%, rgba(198,61,255,1) 100%);
  }
  
  .section-heading h2 {
    color: #2a2a2a;
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 30px;
    line-height: 44px;
  }
  
  .section-heading h2 em {
    color: #5b03e4;
    font-style: normal;
  }
  
  .section-heading h2 span {
    color: #c03afe;
  }

.registration-desc{
    font-size: 15px;
    line-height: 30px;
    font-weight:300;
    width:500px;
}

.courses-banner {
    position: relative;
    padding: 80px 50px 80px 50px;
    color:white;
    background: linear-gradient(135deg, rgb(247, 97, 161) 10%, rgb(140, 27, 171) 100%);
}
  


  .form-group-2 label {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 10px;
    background-color: #fff;
    padding: 0 5px;
    color: white;
    transition: transform 0.2s ease-in-out;
    pointer-events: none;
}

  .form-control-2 {
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px;
    background-color: transparent;
    color: white;
}

.form-control-2:focus {
    outline: none;
    border-bottom: 2px solid white;
}

.form-control-2:focus + label,
.form-control-2:not(:placeholder-shown) + label {
    transform: translateY(-20px);
    font-size: 0.8em;
    background-color: #fff;
    color:white;
}

.form-control-2::placeholder {
    color: rgba(255, 255, 255, 0.496);
}

@media (max-width: 1400px) {
    .blur-text {
        background-color: rgba(255, 255, 255, 0.557);
        padding: 10px;
    }
}

.responsive-image {
    max-width: 100%;
    height: auto;
    width: 700px /* IE8 support, if needed */
    
}

.fixed-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1; /* To ensure it stays behind other content */
}

@media (max-width: 768px) {
    .fixed-image {
        display: none; /* Hide the fixed image */
    }
}

.jobs-banner{
    position: relative;
    padding: 80px 50px 80px 50px;
    color:white;
    background: radial-gradient(circle at 10% 20%, rgb(6, 123, 239) 14.2%, rgb(219, 115, 249) 89.5%);
}

.courses-list{
    box-shadow: 8px 8px 5px 8px rgb(187, 159, 202);
    height: 700px;
    overflow: auto;
}

.leaderboard-header{
    padding-bottom:10px;
}

.font{
    font-weight: 700;
    font-size: 30px;
}

.font2{
    font-weight: 800;
    font-size: 40px;
}

.image-btn{
    background: none;
    border: none;
    padding: 0;
}